* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --secondary-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "poppins", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    text-align: center;
    padding: 0 16px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.desc {
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: normal;
}

.hero-image .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

/* ========== Header ========== */
.header {
    position: sticky;
    top: -38px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 16px 0;
    background: var(--secondary-color);
}

.navbar {
    margin-left: auto;
}

.navbar .nav-list {
    display: flex;
    gap: 32px;
}

.navbar .nav-list a {
    padding: 4px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.navbar .nav-list a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.navbar .nav-list a.active {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .cta-group {
    margin-left: 157px;
}

.cta-group .btn-1 {
    margin-right: 8px;
    padding: 8px 16px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.cta-group .btn-1:hover {
    opacity: 0.9;
}

.cta-group .btn-2 {
    padding: 12px 23px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

.cta-group .btn-2:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* ========== Hero ========== */
.hero {
    padding: 50px 0 79px 0;
}

/* Hero left */
.hero .body {
    display: flex;
    align-items: center;
}

.hero .hero-info {
    width: 45%;
}

.body .hero-info .desc:nth-of-type(1) {
    font-size: 1.4rem;
}

.body .hero-info .heading.lv1 {
    margin-top: 18px;
}

.body .hero-info .desc:nth-of-type(2) {
    width: 374px;
    margin-top: 46px;
}

.hero-info .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-info .btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-info .btn:hover {
    opacity: 0.9;
}

.hero .cta-group .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--secondary-color);
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* Hero right */
.hero .hero-image {
    position: relative;
    margin-left: auto;
}

.hero-image .big-image {
    width: 576px;
    height: 631px;
    background: #e0f7f6;
}

.hero-image .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-image .course-block {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 149px;
    right: 459px;
    width: 157px;
    height: 75px;
    padding: 17px 25px;
    background: var(--secondary-color);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero-image .book-icon {
    position: relative;
}

.hero-image .course-block .icon {
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 4px;
    width: 28px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 1.5px;
}

.hero-image .schedule-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 46px;
    right: 517px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-image .schedule-evaluate {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.schedule-block .slide-action {
    margin-top: 16px;
}

.hero-image .student-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.student-block .avatar {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.student-block .avatar img {
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    object-fit: cover;
}

.student-block .avatar img:nth-of-type(1) {
    margin-left: 0;
}

.student-block .avatar div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* ========== Feature ========== */
.feature {
    padding: 79px 0;
    margin: 51px 0;
}

.feature .body {
    width: 1024px;
}

.feature .info .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature .info .heading.lv2 {
    width: 577px;
    margin: 18px 0;
}

.feature .info .desc {
    width: 590px;
    color: #767e7e;
    line-height: normal;
}

.feature .feature-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.feature-section .section-item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-section .section-item .desc {
    width: 223px;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.68;
}

/* ========== Feature ========== */
.courses {
    padding: 79px 0;
    margin-top: 51px;
}

.courses .info .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .info .heading.lv2 {
    margin: 18px 0;
}

.courses .info .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .info .content .desc {
    width: 525px;
    color: #767e7e;
    line-height: normal;
}

.courses .info .content .link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline solid;
}

.courses .course-list {
    display: flex;
    gap: 47px;
    margin-top: 79px;
}

.course-list .course-item {
    position: relative;
    width: 33.33%;
}

.img-wrapper {
    position: relative;
    cursor: pointer;
}

.img-overlay {
    position: absolute;
    width: 359px;
    height: 393px;
    border-radius: 8px;
}

.img-overlay:hover {
    opacity: 0.35;
    background: var(--primary-color);
}

.course-list .course-image {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}
.course-list .course-info {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: var(--secondary-color);
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-list .course-info .heading.lv3 {
    cursor: pointer;
}

.course-list .course-info .course-fee {
    display: block;
    margin-top: 16px;
    font-size: 1.6rem;
    color: #767e7e;
    font-weight: 400;
}

.course-list .course-info .course-fee strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-list .course-info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: normal;
}

.course-list .course-info .content {
    display: flex;
    margin-top: 18px;
}

.course-list .course-info .content span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.course-list .course-info .content span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--primary-color);
}

/* ========== Countdown ========== */
.countdown {
    padding: 79px 0;
    margin-top: 231px;
}

.countdown .sub-content {
    display: flex;
    justify-content: space-between;
    width: 862px;
    margin-left: auto;
    margin-right: auto;
}

.sub-content .count-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-group .heading.lv2 {
    font-size: 6.2rem;
}

.count-group .desc {
    margin-top: 11px;
    color: #767E7E;
}
